/* Terminal Box */
section.box-terminal {
	font-size: 12px;
	box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
	opacity: 1;
	font-family: 'Comic Sans MS', sans-serif;
	background: black;
	width: auto;
	height: 250px;
	overflow: hidden;
	position: relative;
	text-align: start;
	align-items: end;
	align-content: end;
	color: rgb(172, 172, 172);
	animation-name: terminal;
	animation-duration: 3s;
	line-height: 1em;
	display: inline-block;
	margin:auto;
	top:10px;
  }
  
  /* Terminal Header */
  section.box-terminal-header {
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	font-family: monospace;
	color: rgb(131, 130, 130);
	padding: 12px;
	background-image: linear-gradient(to right, #ffffff, #f3f3f3, #e7e7e7, #dbdbdb, #cfcfcf);
	/* background: rgb(20, 20, 20); */
  }
  
  /* Terminal Content */
  section.box-terminal-content {
	color: mediumslateblue;
	position: relative;
	left: 10px;
	top: 20px;
  }
  
  /* Terminal Node */
  section.box-terminal-node {
	position: relative;
	text-align: left;
	display: inline-flex;
	left: 1px;
	color: rgb(172, 172, 172);
  }
  
  /* Terminal Text */
  section.box-terminal-text {
	left: 10px;
  }
  
  /* Terminal Comment */
  section.box-terminal-comment {
	color: purple;
	font-family: 'Comic Sans MS', sans-serif;
	font-size: 10px;
  }
  
  /* Color Objects */
  span.box-terminal-color-object {
	color: mediumslateblue;
	position: static;
  }
  
  /* Color Styles */
  span.tm-color {
	color: rgb(0, 248, 194);
  }
  
  div.tm-c-y {
	color: rgb(202, 41, 76);
	padding-left: 5px;
  }
  
  div.tm-c-b {
	color: rgb(0, 248, 194);
	padding-left: 5px;
  }
  
  span.tm-y-g {
	color: #FFD700;
  }
  
  /* Terminal Buttons */
  section.buttons-terminal-flex {
	display: inline-flex;
	position: absolute;
	left: 0;
	padding: 0.5px 7px 0.5px;
  }
  
  div.btn-terminal-flex-close {
	background-color: #ff4040;
	border-radius: 100%;
	width: 12px;
	height: 12px;
	margin: 1.5px;
  }
  
  div.btn-terminal-flex-minimize {
	background: #ffb700;
	border-radius: 100%;
	width: 12px;
	height: 12px;
	margin: 1.5px;
  }
  
  div.btn-terminal-flex-max {
	background: #00ae55;
	border-radius: 100%;
	width: 12px;
	height: 12px;
	margin: 1.5px;
  }
  
  /* Twitter Bottom */
  .twt-btm {
	color: rgb(2, 187, 147);
  }
  